.profile-tab-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar-content {
  padding: 2rem 2rem;
  width: 25%;
  background-color: white;
  border-radius: 10px;
  height: fit-content;
}

.sidebar-content ul {
  list-style: none;
}
.sidebar-content ul li {
  margin: 2rem 1rem;
  text-align: center;
  transition: 0.4s;
  font-weight: 500;
  color: #5e458b;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-content ul li:hover {
  margin: 2rem 0;
  text-align: center;
  background-color: #5e458b;
  padding: 0.5rem 0;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.sidebar-content ul li.active {
  margin: 2rem 0;
  text-align: center;
  background-color: #5e458b;
  padding: 0.5rem 0;
  border-radius: 10px;
  color: white !important;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .sidebar-content {
    width: fit-content;
    margin-bottom: 1rem;
  }

  .profile-tab-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
