.author-container {
  background-color: #e3daf0;
  min-height: 100vh;
  padding: 4rem 6rem;
}

.author-wrapper {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  flex-direction: row;
  /* border: solid; */
  width: 100%;
  margin-bottom: 2rem;
}

.img-wrapper {
  /* border: solid; */
  width: 200px;
  height: 300px;
  /* height: auto; */
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.img-wrapper img {
  border-radius: 10px;
  /* height: 250px; */
  width: 100%;
  /* object-fit: cover;
    object-position: center; */
}

.author-desc {
  width: 80%;
}

.author-desc h1 {
  font-size: 25px;
  font-weight: 800;
  color: #5e458b;
  margin-bottom: 1rem;
}

.author-desc p {
  color: #78787d;
  font-size: 15px;
  margin: 0.5rem 0;
  line-height: 25px;
  text-align: justify;
}

.authors-books-wrapper {
  max-width: 1044px;
  /* margin: auto; */
}

@media screen and (max-width: 769px) {
  .author-container {
    background-color: #e3daf0;
    min-height: 100vh;
    padding: 4rem 3rem;
  }

  .author-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .author-wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-wrapper {
    margin-right: 0rem;
  }
}
