.banner-main-modal-bg-dashboard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.banner-modal-main-dashboard {
  position: fixed;
  background: white;
  width: 80%; /* wider for landscape */
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  overflow: hidden;
}

.banner-display-block {
  display: block;
}

.banner-display-none {
  display: none;
}

.banner-modal-header-dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap; /* ensures responsiveness */
}

.banner-modal-title-dashboard {
  color: #5e458b;
  font-size: 16px;
  margin: 0;
  flex: 1;
}

.banner-close-icon-button {
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #5e458b;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
}

.banner-close-icon-button:hover {
  color: #000;
}

.banner-modal-text-dashboard {
  padding: 0.5rem 1rem;
  color: #78787d;
}

.banner-btn-modal-wrapper-dashboard {
  float: right;
}

.banner-modal-img {
  border-top: 2px solid #ddd;
  position: relative;
  width: 100%;
  height: 100%; /* Ensures it stretches inside modal */
  overflow: hidden;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end;  */
}

.banner-modal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-modal-prompt-btn {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Ensure it's above the image */
  background: linear-gradient(175.61deg, #5d418d 35.12%, #675489 96.44%);
  color: #ffffff;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  width: 70%;
  outline: none;
  border: none;
  transition: 0.3s ease;
}

.banner-modal-prompt-btn:hover {
  background: #ffffff;
  color: #5d418d;
  border: 1px solid #5d418d;
  transition: all 0.3s ease-in-out;
}

/* @media screen and (max-width: 920px) {
  .modal-main-dashboard {
    width: 50% !important;
  }
}

@media screen and (max-width: 550px) {
  .modal-main-dashboard {
    width: 70% !important;
  }
} */

@media screen and (max-width: 428px) {
  .banner-modal-prompt-btn {
    bottom: 80px;
  }
}
