.subscription-container {
  background-color: white;
  height: fit-content;
  width: 60vw;
  padding: 2rem 2rem;
  border-radius: 10px;
}

.subscription-title {
  font-weight: 600;
  color: #5e458b;
  margin-bottom: 1rem;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.subscription-status {
  color: rgb(254, 164, 164);
  margin-top: 1rem;
  font-size: 25px;
}

.subscription-status-green {
  color: green;
  margin-top: 1rem;
  font-size: 25px;
  margin-bottom: 0.5rem;
}

.sub-note {
  margin: 0.5rem 0rem;
  color: #78787d;
  font-weight: 500;
}

.card {
  border: solid 1px #ddd;
  height: fit-content;
  padding: 1rem 1rem;
  margin: 1rem 0;
  border-radius: 10px;
}

.card-title {
  margin-bottom: 1rem;
  color: #5e458b;
  font-weight: 500;
}

.card-top-text {
  color: #5e458b;
  margin: 1rem 0;
  font-size: 12px;
}

.card-middle-text {
  color: #5e458b;
  margin-bottom: 1rem;
  line-height: 25px;
}

.card-bottom-text {
  color: #5e458b;
  margin-bottom: 1rem;
}

.select-btn {
  padding: 0.5rem 0.5rem;
  font-weight: 600;
  border-radius: 5px;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  border: 0;
  outline: none;
  background: linear-gradient(175.61deg, #5d418d 35.12%, #675489 96.44%);
  color: white;
  width: fit-content;
  cursor: pointer;
}

.button-24 {
  background: rgb(183, 2, 2);
  border: 1px solid rgb(183, 2, 2);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: white;
  background-position: 0 0;
  color: rgb(183, 2, 2);
}

.button-24:active {
  opacity: 0.5;
}

.btn-reactivate {
  background: green;
  border: 1px solid green;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn-reactivate:hover,
.btn-reactivate:active {
  background-color: white;
  background-position: 0 0;
  color: green;
}

.btn-reactivate:active {
  opacity: 0.5;
}

@media screen and (max-width: 500px) {
  .subscription-container {
    width: 100%;
  }
}
