.article-wrapper {
  background-color: #e3daf0;
  padding: 4rem 6rem;
  /* border: solid; */
  min-height: 100vh;
}

.word-count-wrapper {
  display: flex;
  justify-content: space-between;
}

.article-text {
  color: #78787d;
  font-size: 15px;
  margin: 1rem 0;
  line-height: 25px;
  text-align: right;
}

.word-limit {
  color: red;
  font-size: 10px;
  margin: 1rem 0;
  line-height: 25px;
  text-align: left;
}
.backbtn {
  margin: 2rem 0px;
}

.back-to-challenge {
  color: #5e458b;
  font-size: 0.9rem;
}

.back-to-challenge:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.share-title {
  font-size: 1rem;
  font-weight: 400;
  color: #78787d;
  margin-bottom: 0.5rem;
}

.social-btn {
  margin-right: 5px;
}

@media screen and (max-width: 500px) {
  .article-wrapper {
    padding: 4rem 2rem;
  }
}
