.lib-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background-color: white;
}

.lib-navbar-logo {
  margin-right: 2rem;
  cursor: pointer;
}

.lib-navbar-logo img {
  object-fit: contain;
  width: 200px;
  height: auto;
}

.lib-navbar-links-container {
  display: flex;
  flex-direction: row;
  /* border: solid; */
}

.lib-navbar-links-container p {
  color: #78787d;
  font-weight: 500;
  line-height: 25px;
  font-size: 18px;
  cursor: pointer;
  margin: 0 1rem;
}

.active,
.lib-navbar-links-container p:hover {
  color: #5e458b !important;
  cursor: pointer;
  border-bottom: 1px solid #5e458b;
}

.btn-wrapper {
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 5px;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  border: 0;
  outline: none;
  background: linear-gradient(175.61deg, #5d418d 35.12%, #675489 96.44%);
  color: white;
}

.btn-wrapper:hover {
  cursor: pointer;
  background-color: #4c3575;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.lib-navbar-menu {
  display: none;
  margin-left: 1rem;
  position: relative;
  z-index: 1;
}

.lib-navbar-menu svg {
  cursor: pointer;
}

.lib-navbar-menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background-color: white;
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.lib-navbar-menu-container p {
  margin: 1rem 0;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 876px) {
  .lib-navbar-links-container {
    display: none;
  }

  .lib-navbar-menu {
    display: flex;
  }

  .btn-wrapper {
    display: none;
  }

  .lib-navbar {
    padding: 1rem 4rem;
  }

  .lib-navbar-menu-container {
    top: 50px;
    right: -20px !important;
  }
}

@media screen and (max-width: 700px) {
  .lib-navbar {
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .lib-navbar {
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 330px) {
  .lib-navbar {
    padding: 1rem 1rem;
  }

  .lib-navbar-menu-container {
    top: 50px;
    right: -10px !important;
  }
}
