.info-text {
  font-size: 14px;
}

.forgot-area {
  background: #5e458b;
  background: -webkit-linear-gradient(to left, #e3daf0, #5e458b);
  width: 100%;
  height: 100vh;
  z-index: -1;
}

@media screen and (max-width: 769px) {
  .forgot-area {
    height: 100vh;
  }
}
