.classic-container {
  background-color: #e3daf0;
  min-height: 100vh;
  padding: 4rem 6rem;
}

.nav-discover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 20%;
  /* float: right; */
  border-bottom: 1px solid white;
  padding: 1rem 1rem;
  /* border-radius: 20px; */
  margin-bottom: 1rem;
  margin-top: 1rem;
  /* margin-right: 0;
      margin-left: auto;   */
}

.nav-discover li {
  list-style: none;
  font-size: 0.8rem;
  color: #5e458b;
  font-weight: 600;
}

.nav-discover li:hover {
  border-bottom: 1px solid #5e458b;
  cursor: pointer;
}
.nav-discover li.active {
  border-bottom: 1px solid #5e458b;
}

@media screen and (max-width: 900px) {
  .nav-discover {
    width: 70%;
    /* border: solid; */
  }
}

@media screen and (max-width: 769px) {
  .classic-container {
    padding: 4rem 3rem;

    /* text-align: center; */
  }
}
