.genre-wrapper {
  /* border: solid; */
}
.genre-wrapper ul {
  list-style: none;
}

.genre-wrapper ul li {
  padding: 1rem 0rem;
  color: #5e458b;
}

.genre-wrapper ul li:hover {
  font-weight: 600;
  cursor: pointer;
}
.genre-hr {
  border: 0;
  height: 0.5px;
  /* background: #333; */
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #ccc, #333, #ccc) !important;
}
.spinner {
  text-align: center;
  padding-top: 1rem;
}
