.reading-goals-h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  /* line-height: 45px; */
  color: #5e458b;
  margin-bottom: 1rem;
}

.reading-goals-form-wrapper {
  /* border: solid; */
  width: 100%;
}
.date-input-wrapper {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  flex-direction: row;
}

.reading-goals-input {
  background-color: #ffffff;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  height: 50px;
  padding: 0px 10px;
  outline: none;
  width: 50%;
  margin-bottom: 0.5rem;
}

.reading-goals-form-wrapper input:focus {
  border: 1px solid #5e458b;
}

.select-book-wrapper {
  /* border: solid; */
}

.textfield-wrapper {
  /* border: solid; */
}

.reading-goals-text-area {
  width: 100%;
  background-color: #ffffff;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  height: 100px;
  padding: 10px 10px;
  outline: none;
  margin-bottom: 0.5rem;
}

.reading-goals-text-area:hover {
  border: 1px solid #5e458b;
}

.reading-goal-btn {
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 5px;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  border: 0;
  outline: none;
  background: linear-gradient(175.61deg, #5d418d 35.12%, #675489 96.44%);
  color: white;
  width: 100%;
  margin-bottom: 2rem;
}

.reading-goal-btn:hover {
  background-color: #4c3575;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  cursor: pointer;
}

.reading-goal-btn:active {
  transform: scale(0.98);
}

.required_text {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}

.table-wrapper {
  overflow-x: auto;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: white;
  color: #5e458b;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #5e458b;
}

.content-table th,
.content-table td {
  padding: 15px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr {
  background-color: white;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #5e458b;
}

.content-table tbody tr:nth-of-type(even) {
  /* font-weight: bold;
    color: #5e458b; */
  background-color: #fdfafa;
}

.content-table tbody td:first-of-type:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #5e458b;
}

.table-btn {
  padding: 0.3rem 0.5rem;
  font-weight: 500;
  border-radius: 5px;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  border: 1px solid red;
  outline: none;
  background: white;
  color: red;
  width: fit-content;
  cursor: pointer;
}

.main-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-title {
  padding: 1rem;
  color: #5e458b;
  font-size: 18px;
}

.modal-text {
  padding: 1rem;
}

.modal-btn {
  float: right;
  margin: 0.8rem;

  padding: 0.3rem 0.5rem;
  font-weight: 500;
  border-radius: 5px;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  border: 1px solid #5e458b;
  outline: none;
  background: white;
  color: #5e458b;
  width: fit-content;
  cursor: pointer;
}

hr {
  border: 0;
  height: 1px;
  background: #000;
}

.socials-icon {
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .date-input-wrapper {
    flex-direction: column;
  }

  .reading-goals-input {
    width: 100%;
  }
}
