.lib-reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lib-reset-wrapper {
  width: fit-content;
  position: absolute;
  top: 30vh;
  /* left: 37vw; */
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  padding: 2rem 3rem;
}
.lib-reset-wrapper h1 {
  text-align: center;
  color: #5e458b;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.reset-info-text {
  font-size: 14px;
  text-align: center;
}

.lib-reset-email {
  background-color: #ffffff;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  height: 50px;
  padding-left: 10px;
  outline: none;
  width: 100%;
  margin: 0 !important;
  margin-bottom: 0.5rem !important;
  /* border: 1px solid red; */
}
.reset-validation-error-text {
  color: red;
  transition: 0.5s;
  text-align: left;
  font-size: 10px;
  margin-bottom: 0.5rem;
  width: 150px;
  display: none;
}

.lib-reset-input-group input:focus {
  border: 1px solid #5e458b;
}
.lib-reset-input-group input:invalid[focused="true"] ~ .reset-validation-error-text {
  display: block;
}
.lib-reset-input-group input:invalid[focused="true"] {
  border: 1px solid red;
}
.green-warning {
  color: green;
  transition: 1s;
  text-align: left;
  font-size: 10px;
  margin-bottom: 0.5rem;
  width: 250px;
}

.lib-reset-input-group button {
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 5px;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  border: 0;
  outline: none;
  background: linear-gradient(175.61deg, #5d418d 35.12%, #675489 96.44%);
  color: white;
  width: 100%;
}

.lib-reset-input-group button:hover {
  cursor: pointer;
  background-color: #4c3575;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#btn-group {
  margin-top: 1rem;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.lib-reset-wrapper p a:hover {
  text-decoration: underline;
}

.password_match {
  color: red;
  transition: 0.5s;
  font-size: 10px;
}

.toggle-pass {
  color: #5e458b;
  float: right;
  margin-left: -25px;
  margin-top: 15px;
  position: absolute;

  cursor: pointer;
}

.reset-area {
  background: #5e458b;
  background: linear-gradient(#e3daf0, #5e458b) !important;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.sign_up_text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@media screen and (max-width: 800px) {
  .lib-reset-input-group {
    /* border:solid; */
    display: block;
  }

  .lib-reset-input-group input {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 769px) {
  .reset-area {
    height: 120vh;
  }
}

@media screen and (max-width: 550px) {
  .lib-reset-wrapper {
    margin: 0rem 1rem;
    /* padding: 1rem 0.5rem; */
  }
}

@media screen and (max-width: 550px) {
  .lib-reset-wrapper {
    margin: 0rem 1rem;
    /* padding: 1rem 0.5rem; */
  }
}
