.section-padding {
  padding: 4rem 6rem;
  background-color: white;
}

.lib-header {
  display: flex;
}

.lib-header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
  /* border: solid; */
}

.lib-header-content h1 {
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  background: -webkit-linear-gradient(175.61deg, #5d418d 35.12%, #675489 96.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lib-header-paragraph {
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #78787d;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.lib-download-app {
  display: flex;
  justify-content: space-between;
  width: 21rem;
}

.lib-store-wrapper {
  background-color: #2d2d2d;
  padding: 0.5rem 1rem;
  color: white;
  display: flex;
  width: 10rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
}

.lib-store-wrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.lib-store-text-wrapper {
  margin-left: 0.5rem;
}

.lib-store-text-normal {
  font-size: 0.75rem;
  /* line-height: 1rem; */
  margin: 0;
  padding: 0;
}

.lib-store-text-bold {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.lib-header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid; */
}

.lib-header-image img {
  width: 500px;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .lib-header {
    flex-direction: column;
  }

  .lib-header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 877px) {
  .section-padding {
    padding: 4rem 5rem;
  }
}

@media screen and (max-width: 675px) {
  .lib-header h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .lib-header-paragraph {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 560px) {
  .lib-header-image img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 440px) {
  .lib-download-app {
    flex-direction: column;
    width: fit-content;
  }
  .lib-store {
    margin-bottom: 1rem;
    width: fit-content;
  }

  .section-padding {
    padding: 4rem 2rem;
  }
  .lib-header-content {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 330px) {
}
