.genre-id-container {
  background-color: #e3daf0;
  min-height: 100vh;
  padding: 4rem 6rem;
}

.genre-id-wrapper {
  max-width: 1044px;
  margin: auto;
}

.backbutton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: solid; */
}

.backbutton:hover {
  cursor: pointer;
  font-weight: 500;
}
/* .backbutton:active{
    
    transform: scale(1.01);
} */

@media screen and (max-width: 425px) {
  .genre-id-container {
    padding: 4rem 2rem;
  }
}
