.card-wrapper {
  background-color: white;
  border: 1px solid #e5e5e5;
  padding: 20px;
  width: 49%;
  border-radius: 4px;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.1);
}
.card-wrapper p {
  font-weight: 400;
  color: #5e458b;
  font-size: 15px;
  margin-bottom: 1rem;
}

.card-wrapper h4 {
  font-weight: 600;
  color: #5e458b;
  font-size: 25px;
}
